<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign UP</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body class="login-page">
    <div class="box-login" id="app">
      <div class="body-login">
        <div class="body-child-login">
          <h1>Sign up</h1>

          <div class="input-div">
            <div class="input-spacing">
              <input
                type="text"
                id="first_name"
                v-model="first_name"
                class="login-input-field"
                placeholder="First name"
                required=""
              />
            </div>

            <div class="input-spacing">
              <input
                type="text"
                id="last_name"
                v-model="last_name"
                class="login-input-field"
                placeholder="Last name"
                required=""
              />
            </div>

            <div class="input-spacing">
              <input
                type="email"
                id="email"
                v-model="email"
                class="login-input-field"
                placeholder="Your email"
                required=""
              />
            </div>

            <div class="input-spacing">
              <input
                type="password"
                id="password"
                v-model="password"
                class="login-input-field"
                placeholder="Password"
                required=""
              />
            </div>
          </div>

          <div class="login-button-div" @click="signup()">
            <button>Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.js" charset="utf-8"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          first_name: "",
          last_name: "",
          email: "",
          password: "",
        },
        mounted: function () {},
        methods: {
          signup() {
            if (
              this.first_name == "" ||
              this.last_name == "" ||
              this.email == "" ||
              this.password == ""
            ) {
              alert("The information cannot be empty");
            }
            var data = {};
            data.first_name = this.first_name;
            data.last_name = this.last_name;
            data.email = this.email;
            data.password = this.password;
            // var formdata = JSON.stringify(data);
            console.log(data);
            $.ajax({
              url: "http://localhost:8000/api/users/register/",
              type: "post",
              dataType: "json",
              data: JSON.stringify(data),
              contentType: "application/json",
              success: function (rs) {
                console.log(rs);
                alert("Registration successful!");
                window.location.href = "index_page.html";
              },
              error: function (xhr, status, error) {
                var errorMessage = xhr.status + ": " + xhr.statusText;
                alert("Error - " + errorMessage);
              },
            });
          },
        },
      });
    </script>
  </body>
</html>
